<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8"/>
    <title>IP Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/favicon.svg">
    <script type="text/javascript" src="/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/6.1.0/css/all.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <i class="fa-solid fa-font-awesome"></i>
            IP Example
        </a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" th:with="activeLink=${#request.requestURI}" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/"
                   th:classappend="${#strings.equals(activeLink, '/')} ? 'active' : ''">Главная</a>
                <a class="nav-link" href="/employee"
                   th:classappend="${#strings.equals(activeLink, '/employee')} ? 'active' : ''">Employee</a>
                <a class="nav-link" href="/position"
                   th:classappend="${#strings.equals(activeLink, '/position')} ? 'active' : ''">Position</a>
                <a class="nav-link" href="/department"
                   th:classappend="${#strings.equals(activeLink, '/department')} ? 'active' : ''">Department</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" class="nav-link" href="/users"
                   th:classappend="${#strings.equals(activeLink, '/users')} ? 'active' : ''">Пользователи</a>
                <a class="nav-link" href="/h2-console/" target="_blank">Консоль H2</a>
                <a class="nav-link" href="/logout">
                    Выход (<span th:text="${#authentication.name}"></span>)
                </a>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="container container-padding" layout:fragment="content">
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
</th:block>
</html>