<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/department/{id}(id=${id})}" th:object="${departmentDto}" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Название</label>
            <input type="text" class="form-control" id="name" th:field="${departmentDto.name}" required="true">
        </div>
        <div class="mb-3">
            <label class="form-label">Работники</label>
            <ul>
                <li th:each="employee : ${employees}">
                    <div>
                        <input type="checkbox" th:field="*{employees}" th:value="${employee.id}">
                        <label th:text="${employee.name}"></label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/employee}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>