<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div th:text="${errors}" class="margin-bottom alert-danger"></div>
    <form action="#" th:action="@{/employee/{id}(id=${id})}" th:object="${employeeDto}" method="post">
        <div class="mb-3">
            <label for="firstName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="firstName" th:field="${employeeDto.firstName}" required="true">
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="lastName" th:field="${employeeDto.lastName}" required="true">
        </div>
        <div class="mb-3">
            <label class="form-label">Должность</label>
            <select th:field="${employeeDto.position.id}">
                <option
                    th:each="position: ${positions}" th:text="${position.name}" th:value="${position.id}">
                </option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Отделы</label>
            <ul>
                <li th:each="department : ${departments}">
                    <div>
                        <input type="checkbox" th:field="*{departments}" th:value="${department.id}">
                        <label th:text="${department.name}"></label>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary button-fixed">
                <span th:if="${id == null}">Добавить</span>
                <span th:if="${id != null}">Обновить</span>
            </button>
            <a class="btn btn-secondary button-fixed" th:href="@{/employee}">
                Назад
            </a>
        </div>
    </form>
</div>
</body>
</html>